body{
    margin: 0;
}
header{
 text-align: center;
 font-weight: 200;
 font-size: 14px;
 color:white;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.mainDiv{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
}
.container{
    border:1px solid grey;
    background-color: rgb(37, 50, 71);
}
